<h1>List of Pictures</h1>

<%= link_to "Add A New GIF", new_gif_url %>

<ul>
  <% @gifs.each do |gif| %>
    <li>
      <%= image_tag gif.url, :width => 200 %>
      <p>
        <%= link_to gif.note, gif_url(gif.id) %>
        <%= link_to "Edit", edit_gif_url(gif.id) %>
        <%= link_to "Delete", gif_url(gif.id), :method => :delete, :confirm => "Really?" %>
      </p>
    </li>
  <% end %>
</ul>
